<div class="panel panel-primary">
            <div id="productName" class="panel-heading" >
                <h4>{{product.name}}</h4>
            </div>
            <div class="panel-body productTxt row">
               <div class="col-sm-2 productImg">
                   <img src="img/{{product.img}}.jpg" alt="{{product.alt}}">
                </div>
                    <div class="col-sm-2">
                        <p>#Box: {{product.numOfProducts}}</p>
                    </div>
                    <div class="col-sm-3">
                         <p>Price: ${{product.price}}</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Total Cost: ${{product.totalCost | setDecimal:2}}</p>
                    </div>
                <div class="col-sm-1 pull-right">
                    <div class="btn btn-danger glyphicon glyphicon-remove" ng-click="cart.removeFromCart(product);cart.totalItmesFunction();"></div>
                </div>
    </div>
</div>