@charset "utf-8";
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Top hader
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    background-color: #3D8CE0;
    border: 0;
    margin-bottom: 5px
}

.navbar-header a img{
    width: 40%;
    height: auto;
    padding-top: 0;
    margin-top: -10px;
}
.navbar-header a{
    font-size: 10px;
    margin-top: -5px;
}
.navbar-inverse .navbar-brand {
    color: #161515;
}

.cartButton{
    float: right;
    margin-top: 1px;
}

.cartButton2{
    display: none;
    
}

.top-nav {
  display: none;
}

@media (max-width: 768px) {
  
    .cartButton{
        display: none;
    }

    .cartButton2{
        display: block;
        float: right;
        margin-top: 15px;
        margin-right: 15px;

    }
    
    .top-nav{
        padding-top: 5px;
        display: block;
        background-color: #5698DF;
    }
    
    .top-nav>.nav>li>a {
        padding: 5px 10px;
    }
    .top-nav ul li{
        float: left;
        font-size: 10px;
        margin-bottom: -18px
    }
    
    .top-nav ul li{
        background-color: black;
        margin-left: 2px;
    }
    .top-nav ul li a:active{
        background-color: green; !important
        margin-left: 2px;
    }
    
    .navbar-header{
        margin-bottom: 5px;
    }
}

.top-nav2>.top-nav{
        display: none;
    }
@media (max-width: 564px) {
    .top-nav {
        display: none;
    }
    .top-nav2>.top-nav{
        display: block;
    }
    .navbar-brand {
        width: 300px
    }
    .top-nav2 .top-nav>.nav>li>a {
        padding: 5px 20px;
    }
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar{
  display: none;
}
@media (min-width: 769px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #5698DF;
    border-right: 1px solid #eee;
    
  }
    
    .sidemanu ul li{
        background-color: black;
        margin-bottom: 2px;
    }
    
    .sidebar .connectwithus ul li { 
        display: inline;
    }
    .sidebar .connectwithus span {
        margin-top: 0px;
    }
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #3d73ad;
}




