.employees h2{
    text-align: center;
}


.employees .employee{
    width: 300px;
    float: left;
    margin-left: 5%;
    margin-bottom: 5px;
}
.employees .employee img{
    width: 100px;
    height: auto;
    margin: 5px;
    float: left;
    margin-right: 15px;
}












@media (max-width: 768px){
    .employees{
        padding-top: 15px;
    }
}