<div class="row">
    <h1 id="Products">Shopping Cart</h1>
</div>



<div class="row" ng-controller="CartCtrl as cart">
    <div class="col-xs-7 col-md-8 col-sm-8 col-lg-8" ng-repeat="product in cart.products">
        <div class="panel panel-primary">
            <div id="productName" class="panel-heading" >
                <h4>{{product.name}}</h4>
            </div>
            <div class="panel-body productTxt row">
               <div class="col-sm-2 productImg">
                   <img src="img/{{product.img}}.jpg" alt="{{product.alt}}">
                </div>
                    <div class="col-sm-2">
                        <p>#Box: {{product.numOfProducts}}</p>
                    </div>
                    <div class="col-sm-3">
                         <p>Price: ${{product.price}}</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Total Cost: ${{product.totalCost | setDecimal:2}}</p>
                    </div>
                    <div class="col-sm-1 pull-right">
                        <div class="btn btn-danger glyphicon glyphicon-remove" ng-click="cart.removeFromCart(product);cart.totalItmesFunction();"></div>
                    </div>
            </div>
        </div>
    </div>
 
    <div class="col-xs-5 col-md-4 col-sm-4 col-lg-4">
        <div class="panel panel-primary">
            <div id="divTotal" class="panel-heading">
                <h3 class="panel-title">Subtotal</h3>
            </div>
            <div class="panel-body">
                <div class="text-center">
                    <div class="row totalPrice">
                        <div class="pull-right">
                            <p>$ {{cart.productTotalCost | setDecimal:2}}<p>
                        </div>
                    </div>
                    <div class="row">
                        <form ng-submit = "submit()">
                            <input type="submit" class="btn btn-primary addToCart-btn pull-right" data-toggle="modal" data-target="#checkout-info" ng-click="changeCheckOut()" value="CHECKOUT">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="modal" id="checkout-info">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-danger glyphicon glyphicon-remove pull-right" data-dismiss="modal"></button>
                    <h2> Checkout </h2>
                </div>
                <div class="modal-body">
                    <div class="address well">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-5 resultLabel">Name:</div>
                                    <div class="col-md-7 result">{{name || "Enter Value"}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 resultLabel">Street:</div>
                                    <div class="col-md-7 result">{{street || "Enter Value"}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 resultLabel">City:</div>
                                    <div class="col-md-7 result">{{city || "Enter Value"}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 resultLabel">State:</div>
                                    <div class="col-md-7 result">{{state || "Enter Value"}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 resultLabel">Zip:</div>
                                    <div class="col-md-7 result">{{zip || "Enter Value"}}</div>
                                </div>
                            </div>
                        
                        <div class="col-md-2">
                            <button class="glyphicon glyphicon-edit btn btn-primary pull-right" data-toggle="modal" data-target="#address-info"> Edit</button>
                        </div>
                        
                    </div>
                    <div class="paymentMethod well">
                        <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-5 resultLabel">Card Number:</div>
                                    <div class="col-md-7 result">{{cardNumber || "Enter Value" }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 resultLabel">Name on Card:</div>
                                    <div class="col-md-7 result">{{nameOnCard || "Enter Value"}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5 resultLabel">Expiration Date:</div>
                                    <div class="col-md-7 result">{{expirationDate || "Enter Value"}}</div>
                                </div>
                            </div>
                        
                        <div class="col-md-2">
                            <button class="glyphicon glyphicon-edit btn btn-primary pull-right" data-toggle="modal" data-target="#payment-info"> Edit</button>                            
                        </div>
                    </div>
                    
                    <div class="orderSummary well">
                        <h5>Order Summary</h5>
                        <div class="row">
                            <div class="col-md-6 orderSummaryLabel">Items:</div>
                            <div class="col-md-6 orderSummaryResult">${{cart.productTotalCost | setDecimal:2}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 orderSummaryLabel">Shipping & handling:</div>
                            <div class="col-md-6 orderSummaryResult">${{3}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 orderSummaryLabel">Total before Tax:</div>
                            <div class="col-md-6 orderSummaryResult">${{3 + cart.productTotalCost | setDecimal:2}}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 orderSummaryLabel">Estimated tax:</div>
                            <div class="col-md-6 orderSummaryResult">${{2.5}}</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6 orderSummaryLabel">Ordar total:</div>
                            <div class="col-md-6 orderSummaryResult">${{2.5 + 3 + cart.productTotalCost | setDecimal:2}}</div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <button class="btn btn-warning pull-right" ng-click="" data-dismiss="modal">Checkout</button>
                    </div>
                    
                </div>
            </div>
        </div>      
    </div>
    
    
    <!--Editing address-->
    <div class="modal" id="address-info">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="btn btn-danger glyphicon glyphicon-remove pull-right" data-dismiss="modal"></button>
                                    <h2>Shipping Address </h2>
                                </div>
                                <div class="modal-body">
                                     <div class="form-group row">
                            <div class="col-xs-5 col-form-label">
                                <label for="name">Name:</label>
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="name" placeholder="Enter Your Name" ng-model="name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5 col-form-label">
                                <label for="street">Street:</label>
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="street" placeholder="Enter Your Street" ng-model="street">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5 col-form-label">
                                <label for="city">City:</label>
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="city" placeholder="Enter Your City" ng-model="city">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5 col-form-label">
                                <label for="state">State:</label>
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="name" placeholder="Enter Your State" ng-model="state">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5 col-form-label">
                                <label for="zip">Zip:</label>
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="zip" placeholder="Enter Your Zip" ng-model="zip">
                            </div>
                        </div>
                                    <div class="row">
                                        <button class="btn btn-warning pull-right" ng-click="cart.shippingAddress(name, street, city, state, zip)" data-dismiss="modal">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div><!--Editing address finished-->
    
    
    <!--payment method-->
    <div class="modal" id="payment-info">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="btn btn-danger glyphicon glyphicon-remove pull-right" data-dismiss="modal"></button>
                                    <h2>Payment Method </h2>
                                </div>
                                <div class="modal-body">
                                     <div class="form-group row">
                            <div class="col-xs-5 col-form-label">
                                <label for="name">Card Number</label>
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="cardNumber" placeholder="Enter Card Number" ng-model="cardNumber">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5 col-form-label">
                                <label for="street">Name on Card</label>
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="nameOnCard" placeholder="Enter Name on Card" ng-model="nameOnCard">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-5 col-form-label">
                                <label for="city">Expiration Date</label>
                            </div>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="expirationDate" placeholder="Enter Expiration Date" ng-model="expirationDate">
                            </div>
                        </div>
                                    <div class="row">
                                        <button class="btn btn-warning pull-right" ng-click="cart.paymentMethod(cardNumber, nameOnCard, expirationDate)" data-dismiss="modal">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--payment method finished-->
    
    
</div>







